<%= form_with(model: utente) do |form| %>
  <% if utente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(utente.errors.count, "error") %> prohibited this utente from being saved:</h2>

      <ul>
        <% utente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container" style="width: 700px">

  <div class="field">
    <%= form.label :cognome, class:"lilla" %>
    <%= form.text_field :cognome, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :nome, class:"lilla" %>
    <%= form.text_field :nome, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :indirizzo, class:"lilla" %>
    <%= form.text_field :indirizzo, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :numero, class:"lilla" %>
    <%= form.number_field :numero, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :annotazioni, class:"lilla" %>
    <%= form.text_area :annotazioni, class:"form-control" %>
  </div>

<br>

<div>
  <%= form.submit 'Crea Utente', class:"btn btn-warning buttonn" %>
</div>

<br>

</div>

<% end %>
