<br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Cognome:</strong> <br>
  <%= @utente.cognome %>
</p>

<p>
  <strong>Nome:</strong> <br>
  <%= @utente.nome %>
</p>

<p>
  <strong>Indirizzo:</strong> <br>
  <%= @utente.indirizzo %>
</p>

<p>
  <strong>Numero:</strong> <br>
  <%= @utente.numero %>
</p>

<p>
  <strong>Annotazioni:</strong> <br>
  <%= @utente.annotazioni %>
</p>

<%= link_to 'Modifica', edit_utente_path(@utente), class:"btn btn-warning buttonn" %> 

<div style="padding: 10px"></div>

<%= link_to 'Indietro', utentes_path, class:"btn btn-secondary buttonn" %>

<div style="padding: 10px"></div>