<h5>Vieni a visitare i numerosi castelli della Loira, un esperienza da non perdere.<br>
    Guarda i meravigliosi castelli che potrai visitare:</h5>
    <a class="btn btn-dark btn-lg" href="/tappes" role="button">Vieni a vedere</a>
<br>
<br>


<div class="container">
  <div class="row row-cols-3">
    <div class="col">
    <div class="card"><a href="/tappes/3">
    <p><%= image_tag 'Chenonceau.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Chenonceau</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/6">
    <p><%= image_tag 'Amboise.jpg', class: 'sasso' %></p>
    <div class="card-body">
    <h5 class="card-text">Castello di Amboise</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/4">
    <p><%= image_tag 'Blois.jpg', class: 'sasso' %></p>
    <div class="card-body">
    <h5 class="card-text">Castello Reale di Blois</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/5">
    <p><%= image_tag 'cheverny.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Cheverny</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/7">
    <p><%= image_tag 'clos.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Clos Lucé</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/8">
    <p><%= image_tag 'villandry.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello e giardini Villandry</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/9">
    <p><%= image_tag 'azay.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Azay-le-Rideau</h5></div></div>
    </div></a>
    <div class="col">
    <div class="card"><a href="/tappes/10">
    <p><%= image_tag 'angers.jpg', class: 'sasso' %></p>
    <div class="card-body">
      <h5 class="card-text">Castello di Angres</h5></div></div>
    </div></a>

    </div>
    </div>

<br>