<br>

<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center text">
    <h1>Tappe turistiche</h1>
</div>

<br>

<table class="table">
  <thead>
    <tr>
      <th>Foto</th>
      <th>Denominazione</th>
      <th>Descrizione(ita)</th>
      <th>Durata(ore)</th>
      <th>Partecipanti</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tappes.each do |tappe| %>
      <tr>
        <td><% if tappe.cover.attached? %>
        <%= image_tag url_for(tappe.cover), class:"image img-thumbnail", class: 'imma' %>
      <% end %></td>
        <td><%= tappe.denominazione %></td>
        <td class="desc"><%= tappe.descita %></td>
        <td><%= tappe.durata %></td>
        <td><%= tappe.partecipanti %></td>
        <td><%= link_to 'Mostra', tappe, class:"btn btn-info w-100" %></td>
        <td><%= link_to 'Modifica', edit_tappe_path(tappe), class:"btn btn-warning w-100" %></td>
        <td><%= link_to 'Elimina', tappe, method: :delete, data: { confirm: 'SEI SICURO?' }, class:"btn btn-danger w-100" %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuova Tappa', new_tappe_path, class:"btn btn-success buttonn" %>

<div style="padding: 20px"></div>