<br>

<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-center text">
    <h1>Tappe turistiche</h1>
</div>

<br>

<div class="container">
  <div class="row row-cols-3">
    <% @tappes.each do |tappe| %>
    <div class="col">
        <div class="card" style="width: 18rem;">
        <% if tappe.cover.attached? %>
        <%= image_tag url_for(tappe.cover), class:"image img-thumbnail", class: 'imma' %>
        <% end %> 
        <div class="card-body">
          <h5 class="card-title"><%= tappe.denominazione %></h5>
          <p class="card-text"><%= tappe.orari_partenza %></p>
          <%= link_to 'Mostra', tappe, class:"btn btn-info w-100" %> <br><br>
          <%= link_to 'Modifica', edit_tappe_path(tappe), class:"btn btn-warning w-100" %>
          <%= link_to 'Elimina', tappe, method: :delete, data: { confirm: 'Sei sicuro?' }, class:"btn btn-danger w-100" %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Nuova Tappa', new_tappe_path, class:"btn btn-success buttonn" %>

<div style="padding: 20px"></div>