<br>

<p id="notice"><%= notice %></p>

<p>
<strong>Foto:</strong> <br>
<% if @tappe.cover.attached? %>
 <%= image_tag url_for(@tappe.cover), class:"image img-thumbnail", class: 'imma2' %>
 <% end %>
</p>

<p>
  <strong>Denominazione:</strong> <br>
  <%= @tappe.denominazione %>
</p>

<p>
  <strong>Descrizione(ita):</strong> <br>
  <%= @tappe.descita %>
</p>

<p>
  <strong>Description:</strong> <br>
  <%= @tappe.descing %>
</p>

<p>
  <strong>Partenza:</strong> <br>
  <%= @tappe.partenza %>
</p>

<p>
  <strong>Orari partenza:</strong> <br>
  <%= @tappe.orari_partenza %>
</p>

<p>
  <strong>Durata(ore):</strong> <br>
  <%= @tappe.durata %>
</p>

<p>
  <strong>Partecipanti:</strong> <br>
  <%= @tappe.partecipanti %>
</p>

<%= link_to 'Modifica', edit_tappe_path(@tappe), class:"btn btn-warning buttonn" %> 



<div style="padding: 10px"></div>



<%= link_to 'Indietro', tappes_path, class:"btn btn-secondary buttonn" %>



<div style="padding: 10px"></div>