<br>

<p id="notice"><%= notice %></p>

<p>
<% if @tappe.cover.attached? %>
 <%= image_tag url_for(@tappe.cover), class:"image img-thumbnail", class: 'imma' %>
 <% end %>
</p>

<p>
  <strong>Denominazione:</strong>
  <%= @tappe.denominazione %>
</p>

<p>
  <strong>Descita:</strong>
  <%= @tappe.descita %>
</p>

<p>
  <strong>Descing:</strong>
  <%= @tappe.descing %>
</p>

<p>
  <strong>Partenza:</strong>
  <%= @tappe.partenza %>
</p>

<p>
  <strong>Orari partenza:</strong>
  <%= @tappe.orari_partenza %>
</p>

<p>
  <strong>Durata:</strong>
  <%= @tappe.durata %>
</p>

<p>
  <strong>Partecipanti:</strong>
  <%= @tappe.partecipanti %>
</p>

<%= link_to 'Modifica', edit_tappe_path(@tappe), class:"btn btn-warning buttonn" %> 



<div style="padding: 10px"></div>



<%= link_to 'Indietro', tappes_path, class:"btn btn-secondary buttonn" %>



<div style="padding: 10px"></div>